# dev environment
.idea/
.DS_Store
.python-version

# build artifacts
*.pyc
*.swp
*.o

# build directories
dist/

# data
*.log
*.pdb
*.png
*.ipynb

# cache
.ipynb_checkpoints/

# Sphinx documentation build output
docs/_build/
