# dev environment
.idea/
.DS_Store
.python-version

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
*.pyc
*.swp
/test/run
*.o
.nfs*
docking/DOCK/src/libfgz/libfgz64.a
docking/DOCK/src/i386/dock32
docking/DOCK/src/i386/dock32d
docking/DOCK/src/i386/dock64
docking/DOCK/src/i386/dock64d

docking/DOCK/src/i386/*.disasm
docking/DOCK/src/i386/*.oo
docking/DOCK/src/i386/*.mod
docking/DOCK/src/i386/*.moddep
docking/DOCK/src/i386/pgprof.ccff/dock_prof64.ccff/*
ligand/*/*.bak
docking/DOCK/bin/dock64_*
docking/DOCK/bin/dock32
docking/DOCK/bin/dock32d
docking/DOCK/bin/dock64
docking/DOCK/bin/dock64d
docking/DOCK/bin/dock.csh
docking/DOCK/bin/get_dock_files.csh

docking/DOCK/src/version.f

#
*.log
dist/
*.pdb
*.png
*.ipynb
.ipynb_checkpoints/
